{namespace templates.date}


/**
 * @param Date
 * @param CompareTo
 */
{template .isAfter}
  {isAfter($Date, $CompareTo)}
{/template}


/**
 * @param Date
 * @param CompareTo
 */
{template .isBefore}
  {isBefore($Date, $CompareTo)}
{/template}


/**
 * This should be equivalent to Instant.now()
 */
{template .toInstant}
  {printTimestamp(toInstant())}
{/template}



/**
 * @param Timestamp
 */
{template .toInstantWithTimestamp}
  {printTimestamp(toInstant($Timestamp))}
{/template}






/**
 * @param Value
 */
{template .toDateTime}
  {toDateTime($Value)}
{/template}

/**
 * @param Value
 * @param Offset
 */
{template .toDateTimeWithOffset}
  {toDateTime($Value, $Offset)}
{/template}

/**
 * @param Date
 */
{template .printDate}
  {printDate($Date)}
{/template}

/**
 * @param Date
 * @param Format
 */
{template .printDateWithFormat}
  {printDate($Date, $Format)}
{/template}

/**
 * @param Date
 * @param Format
 * @param Offset
 */
{template .printDateWithFormatAndZoneOffset}
  {printDate($Date, $Format, $Offset)}
{/template}
