{namespace templates.duration}


/**
 * @param Start
 * @param End
 */
{template .printDuration}
  {printDuration($Start, $End)}
{/template}

/**
 * @param Start
 * @param End
 */
{template .printDuration}
  {printDuration($Start, $End)}
{/template}
