{namespace templates.integration}


/**
 * @param IntString
 */
{template .parseInt}
  {parseInt($IntString) * 10}
{/template}

/**
 * @param FloatString
 */
{template .parseFloat}
  {parseFloat($FloatString) * 0.1}
{/template}

/**
 * @param Object
 */
{template .toJson  kind="js"}
  {toJson($Object)}
{/template}


/**
 * @param JsonString
 */
{template .fromJson}
  {parseJson($JsonString)['Property'] + 1}
{/template}

/**
 * @param String
 */
{template .toLowerCase}
  {toLowerCase($String)}
{/template}

/**
 * @param String
 */
{template .toUpperCase}
  {toUpperCase($String)}
{/template}

/**
 * @param String

 */
{template .strLength}
  {strLength($String)}
{/template}


/**
 * @param String
 * @param Start
 * @param End
 */
{template .substring kind="text"}
  {substring($String, $Start, $End)}
{/template}

/**
 * @param String
 */
{template .capitalize  kind="text"}
  {capitalize($String)}
{/template}

/**
 * @param String
 */
{template .trim  kind="text"}
  {trim($String)}
{/template}


/**
 * @param String
 * @param Separator
 */
{template .split  kind="text"}
  {split($String, $Separator)}
{/template}

/**
 * @param Strings
 * @param Separator
 */
{template .join kind="text"}
  {join($Strings, $Separator)}
{/template}

/**
 * @param Number
 * @param Digits
 */
{template .toFixed kind="text"}
  {toFixed($Number, $Digits)}
{/template}

