{namespace templates.html}

/**
 * @param Value
 */
{template .style}
  {style($Value)}
{/template}

/**
 * @param Value
 */
{template .styleWithToUrl}
  {style(toSafeUrl($Value))}
{/template}


/**
 * @param Value
 */
{template .script}
{$Value} //  {script(toTrustedUri($Value))}
{/template}

/**
 * @param Value
 */
{template .naturalScript}
 <script src="{toTrustedUri($Value)}"></script>
{/template}

/**
 * @param Value
 */
{template .scriptWithToUrl}
{$Value}
//  {script(toSafeUrl($Value))}
{/template}


/**
 */
{template .html}
//  {html([script(toSafeUrl('a')), style(toSafeUrl('b'))])}
{/template}




